html {
    --main-font: Helvetica, sans-serif;
    --main-bg-color: rgb(33, 39, 50);
    --main-font-color: rgb(230, 230, 233);
    font-family: var(--main-font);
    font-weight: bold;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    letter-spacing: -.5px;
    text-align: center;
}

body {
    margin: 0 auto;
}

#main-header {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    width: 100%;
    position: top;
    margin: 0;
    align-items: center;
}

#header-box {
    outline: 2px white solid;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    flex-grow: 1;
    margin: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#app {
    margin: 0 auto;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    padding-top: 16px;
    gap: 20px;
}

#target {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    flex-direction: column;
    gap: 10px;
}

#target-number,
.gameButton {
    color:var(--main-bg-color);
    background-color: var(--main-font-color);
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#numbers,
#operators {
    width: 100%;
    display: grid;
    overflow: auto;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.gameButton {
    height: 35px;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    box-shadow: 0 3px 0 0 rgb(93, 93, 93);
    transition: box-shadow .05s ease, background-color, .05s ease, translate .05s ease;
    &.operator {
        font-size: 1.3rem;
        border-radius: 10px;
        height: 30px;
    }
    &.equalsSign,
    &.numerator,
    &.chosenOperator {
        background-color: white;
        color: black;
        width: 30px;
        height: 25px;
    }
    &.equalsSign:empty,
    &.numerator:empty,
    &.chosenOperator:empty {
        background-color: black;
        color: white;
        width: 30px;
        height: 25px;
    }
}

.gameButton:active:not(:disabled) {
    box-shadow: 0 2px 0 0 rgb(48, 48, 48);
    background-color: rgb(211, 211, 211);
    translate: 0 5%;
}

.gameButton:hover:not(:disabled) {
    background-color: rgb(255, 255, 255);
}

.gameButton[disabled] {
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0 3px 0 0 rgb(41, 41, 41);
}

#currentOperation,
.pastOperation {
    background-color: black;
    color: black;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 10px;
    gap: 25px;
    position: relative;
    z-index: 1;
}

.numerator,
.answer {
    background-color: black;
    box-shadow: 0 3px 0 0 rgb(93, 93, 93);
    flex: 3;
    color: var(--main-font-color);
}

.chosenOperator,
.equalsSign {
    flex: 1;
    width: 30px;
    background-color: black;
    color: var(--main-font-color);
    box-shadow: 0 3px 0 0 rgb(93, 93, 93);
}

.numerator,
.chosenOperator {
    align-content: center;
    border-radius: 3px;
    font-size: 1rem;
}

#historyMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(67, 62, 84, 0);
    transform: translateY(5px);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    flex-direction: row-reverse;
}

.historyTitle {
    background-color: black;
    color: var(--main-font-color);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    transform: translateY(11px);
    order: 2;
}

.historyButtons {
    order: 1;
}

#main-footer {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    align-items: center;
    letter-spacing: -1px;
    font-size: .7rem;
}